/*
Slidout menu
*/
.slideout-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #333;
  z-index: 100;

  .slideout-menu-inner {
    position: relative;
    left: 250px;
    top: 65px;
    width: 10px;
    height: 36px;
    background: #333;
    z-index: 101;
    border-radius: 0px 5px 5px 0px;
    span {
      display: block;
      width: 10px;
      height: 37px;
    }
  }

  .slideout-menu-inner:hover {
    position: relative;
    left: 250px;
    top: 65px;
    width: 33px;
    height: 36px;
    background: #333;
    z-index: 101;
    border-radius: 0px 5px 5px 0px;
    span {
      display: block;
      width: 33px;
      height: 37px;
      background: image-url('docker/cog.png') center center no-repeat;
      background-size: cover;
    }
  }

  h3 {
    position: relative;
    padding: 12px 10px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    border-bottom: 4px solid #222;
  }

  ul {
    list-style: none;
    font-weight: 300;
    border-top: 1px solid #151515;
    border-bottom: 1px solid #454545;
    li {
      border-top: 1px solid #454545;
      border-bottom: 1px solid #151515;
      a {
        position: relative;
        display: block;
        padding: 10px;
        color: #999;
        text-decoration: none;
        i {
          position: absolute;
          top: 15px;
          right: 10px;
          opacity: .5;
        }
      }
      a:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}

/*
Collapse tabs
*/

.collapsible, .page_collapsible {
  margin: 0;
  padding: 10px;
  height: 20px;
  background: #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 1em;
}

.dock-tab-get-contents, .dock-tab-post-contents {
  padding: 0;
  margin: 0;
  .container {
    overflow: hidden;
  }
  .content {
    background: #f0f0f0;
    margin: 0;
    padding: 10px;
    font-size: .9em;
    line-height: 1.5em;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

    overflow: auto;
    min-height: 10%;
    max-height: 50%;
    position: absolute;
  }
}

.collapse-open {
    background: #000;
    color: #fff;
    span {
      display: block;
      float: right;
      padding: 10px;
      background: image-url('docker/minus-white.png') center center no-repeat;
      background-size: contain;
    }
}

.collapse-close span {
    display: block;
    float: right;
    background: image-url('docker/plus.ico') center center no-repeat;
    background-size: contain;
    padding: 10px;
}
