/*
Slidout menu
*/
.slideout-menu.open {
  position: fixed;
  top: 0;
  left: 0px;
  width: 250px;
  height: 100%;
  background: #333;
  z-index: 100;
  transition: all .35s ease;
  overflow-y: auto;

  .slideout-menu-inner {
    position: relative;
    left: 250px;
    top: 65px;
    width: 33px;
    height: 36px;
    background: #333;
    z-index: 101;
    border-radius: 0px 5px 5px 0px;
    transition: all .35s ease;
    cursor: pointer;
    span {
      display: block;
      width: 33px;
      height: 37px;
      background: image-url('docker/cog.png') center center no-repeat;
      background-size: cover;
    }
  }
}

.slideout-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #333;
  z-index: 100;
  transition: all .35s ease;

  .slideout-menu-inner {
    position: relative;
    left: 250px;
    top: 65px;
    width: 10px;
    height: 36px;
    background: #333;
    z-index: 101;
    border-radius: 0px 5px 5px 0px;
    transition: all .35s ease;
    cursor: pointer;
    span {
      display: block;
      width: 10px;
      height: 37px;
    }
  }

  .slideout-menu-inner:hover {
    position: relative;
    left: 250px;
    top: 65px;
    width: 33px;
    height: 36px;
    background: #333;
    z-index: 101;
    border-radius: 0px 5px 5px 0px;
    transition: all .35s ease;
    span {
      display: block;
      width: 33px;
      height: 37px;
      background: image-url('docker/cog.png') center center no-repeat;
      background-size: cover;
    }
  }

  h3 {
    position: relative;
    padding: 12px 10px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    border-bottom: 4px solid #222;
  }

  ul {
    list-style: none;
    font-weight: 300;
    border-top: 1px solid #151515;
    border-bottom: 1px solid #454545;
    li {
      border-top: 1px solid #454545;
      border-bottom: 1px solid #151515;
      a {
        position: relative;
        display: block;
        padding: 10px;
        color: #999;
        text-decoration: none;
        i {
          position: absolute;
          top: 15px;
          right: 10px;
          opacity: .5;
        }
      }
      a:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}

/*
Collapse tabs
*/

.ac-container {
	width: 240px;
	margin: 10px auto 30px auto;

  label {
  	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  	padding: 5px 20px;
  	position: relative;
  	z-index: 20;
  	display: block;
  	height: 30px;
  	cursor: pointer;
  	color: #777;
  	// text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  	line-height: 33px;
  	font-size: 19px;
  	// background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background-color: #cccccc;
  	box-shadow:
  		0px 0px 0px 1px rgba(155,155,155,0.3),
  		1px 0px 0px 0px rgba(255,255,255,0.9) inset,
  		0px 2px 2px rgba(0,0,0,0.1);
  }

  label:hover {
  	// background: #fff;
  	background: #C6E3EF;
  }

  input {
  	display: none;
  }

  article{
    input {
    	display: block;
      margin-left: -5px;
    }

    * {
      margin-left: 5px;
    }

    input[type="text"] {
      padding: 5px;
    }

  	background: rgba(255, 255, 255, 0.5);
  	margin-top: -1px;
  	overflow: hidden;
  	height: 0px;
  	position: relative;
  	z-index: 10;
  	transition:
  		height 0.3s ease-in-out,
  		box-shadow 0.6s linear;
    overflow-y: auto;

    p {
    	// font-style: italic;
    	// color: #777;
    	line-height: 23px;
    	font-size: 14px;
    	// padding: 20px;
    	// text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    }
  }

  input:checked + label,
  input:checked + label:hover {
  	background: #c6e1ec;
  	color: #3d7489;
  	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
  	box-shadow:
  		0px 0px 0px 1px rgba(155,155,155,0.3),
  		0px 2px 2px rgba(0,0,0,0.1);
  }

  label:hover:after,
  input:checked + label:hover:after {
  	content: '';
  	position: absolute;
  	width: 24px;
  	height: 24px;
  	right: 13px;
  	top: 7px;
  	// background: transparent url(../images/arrow_down.png) no-repeat center center;
  }

  // input:checked + label:hover:after {
  // 	background-image: url(../images/arrow_up.png);
  // }

  input:checked ~ article {
  	transition:
  		height 0.5s ease-in-out,
  		box-shadow 0.1s linear;
  	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
  }

  input:checked ~ article.ac-small{
  	height: 140px;
  }
  input:checked ~ article.ac-medium{
  	height: 180px;
  }
  input:checked ~ article.ac-large{
  	height: 230px;
  }
}
