/*
Slidout menu
*/
.main-dock {
  display: none;
}

.slideout-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #333;
  z-index: 100;
}
.slideout-menu h3 {
  position: relative;
  padding: 12px 10px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  border-bottom: 4px solid #222;
}
.slideout-menu .slideout-menu-toggle {
  position: absolute;
  top: 12px;
  right: 10px;
  display: inline-block;
  padding: 6px 9px 5px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
  background: #222;
  color: #999;
  text-decoration: none;
  vertical-align: top;
}
.slideout-menu .slideout-menu-toggle:hover {
  color: #fff;
}
.slideout-menu ul {
  list-style: none;
  font-weight: 300;
  border-top: 1px solid #151515;
  border-bottom: 1px solid #454545;
}
.slideout-menu ul li {
  border-top: 1px solid #454545;
  border-bottom: 1px solid #151515;
}
.slideout-menu ul li a {
  position: relative;
  display: block;
  padding: 10px;
  color: #999;
  text-decoration: none;
}
.slideout-menu ul li a:hover {
  background: #000;
  color: #fff;
}
.slideout-menu ul li a i {
  position: absolute;
  top: 15px;
  right: 10px;
  opacity: .5;
}






/*
Collapse tabs
*/

.collapsible, .page_collapsible {
  margin: 0;
  padding: 10px;
  height: 20px;
  background: #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 1em;
}

.dock-tab-get-contents, .dock-tab-post-contents {
  padding: 0;
  margin: 0;
  .container {
    overflow: hidden;
  }
  .content {
    background: #f0f0f0;
    margin: 0;
    padding: 10px;
    font-size: .9em;
    line-height: 1.5em;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

    overflow: auto;
    min-height: 10%;
    max-height: 50%;
    position: absolute;
  }
}

.collapse-open {
    background: #000;
    color: #fff;
    span {
      display: block;
      float: right;
      padding: 10px;
      background: image-url('docker/minus-white.png') center center no-repeat;
      background-size: contain;
    }
}

.collapse-close span {
    display: block;
    float: right;
    background: image-url('docker/plus.ico') center center no-repeat;
    background-size: contain;
    padding: 10px;
}
