<!DOCTYPE html>
<html>
<head>
  <title>Docker</title>
  <%= stylesheet_link_tag    "docker/application", media: "all" %>
  <%= javascript_include_tag "docker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
